/*
Shared CSS
*/

:root {
    --maroon: #500000;
    --dmaroon: #3C0000;
    --white: #FFFFFF;
    --brass: #998542;
    --link: #006483;
    --hover: #004362;
    --dgray: #202020;
    --lgray: #333333;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Oswald', sans-serif;
}

body {
    margin: 10vh 4vh;
    background-color: var(--dgray);
}

a {

    color: var(--link);

    text-decoration: none;
}

a:hover {

    color: var(--hover);
}

.alt-flex,
.alt-vflex,
.alt-hflex,
.vflex,
.hflex,
.flex {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.alt-hflex {
    flex-direction: row-reverse;
}

.alt-vflex {
    flex-direction: column-reverse;
}

.vflex {
    flex-direction: column;
}

.hflex {
    flex-direction: row;
}

ic-navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: var(--maroon);

    overflow: scroll;
}

.ic-navbar-element {
    display: inline-block;
    margin: 10px 20px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--maroon);
    color: var(--white);
    border-radius: 5px;
    text-align: center;

    border-color: var(--lgray);

    user-select: none;

    white-space: nowrap;
}

.ic-navbar-element:hover {

    background-color: var(--dmaroon);
    color: var(--white);
}

.ic-navbar-element-current {
    background-color: var(--brass);
    color: var(--white);

    pointer-events: none;
    user-select: none;
}

.collapsed {

    display: none;
}

.rolled {

    justify-content: center;
}

ic-themes {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;

    justify-content: center;

    user-select: none;
}

.hidden {

    display: none;
}

.current-theme {

    background-color: gray;

    pointer-events: none;
}

.option-theme {

    background-color: #500000;
}


/*
Landing Page CSS
*/

#greeting-container { 
    justify-content: space-evenly;

    padding: 4vh 1vh;

    border-radius: 10vh;
}

#greeting {

    background-color: var(--brass);
    color: var(--white);

    padding: 5vh;

    width: 40vw;

    border-radius: 0 10vh;
    box-shadow: 1vh 1vh var(--lgray);

    text-wrap: wrap;
}

#headshot {

    background-color: var(--maroon);

    margin: 5vh;
    padding: 10vh;

    width: fit-content;

    border-radius: 10vw 0;
    box-shadow: 1vh 1vh var(--lgray);

    align-items: center;
}

#headshot img {
    width: 25vh;

    user-select: none;

    border-radius: 10vh 0;
}

#headshot-caption {

    align-items: center;
}

#headshot-caption * {

    background-color: var(--white);

    margin: 1vh;
    padding: 5vh;

    width: fit-content;
    height: fit-content;

    border-radius: 0 5vh;
    box-shadow: -1vh 1vh var(--lgray);

    text-align: center;
}

#contact-info {

    color: var(--white);

    padding: 5vh 0;

    width: 100%;

    align-items: center;

    text-align: center;
    text-wrap: wrap;
}

#contact-info h1 {

    background-color: var(--dmaroon);

    margin: 1vh;
    padding: 5vh;

    width: fit-content;

    border-radius: 10vh 0;
    box-shadow: 1vh 1vh var(--lgray);
}

#contact-info-types {

    justify-content: space-evenly;
}

#contact-info-types div {

    align-items: center;
}

#contact-info-types div h1 {

    background-color: var(--brass);
}

#contact-info-types div h2 {

    background-color: var(--maroon);

    margin: 1vh;
    padding: 5vh;

    border-radius: 0 10vh;
    box-shadow: -1vh 1vh var(--lgray);
}


/*
Projects Page CSS
*/

/*
Qualifications Page CSS
*/

/*
AI Generated Page CSS
*/